*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: system-ui;
}
header{
  padding: 61px 120px 20px;
  position: absolute;
  top:0px;
  width: 100%;
  background: pink;
  color: white;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-header{
  display: flex;
  font-weight: 500;
}
.logo{
  font-weight: 500;
}
.menu-header-item{
  margin-left: 55px;
  font-size: 14px;
}
.menu-header-item:hover{
  border-bottom: 1px solid white;
}
.menu-header-item:first-child{
  padding-left: 0px;
}
.tel-block{
  display: flex;
  align-items: center;
}
.img-wrapper{
  width: 20px;
  height: 30px;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.tel-foto{
  width: 100%;
  height: auto;
}
.burg-menu-wrapper{
  width: 27px;
  height: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.burg-menu-foto{
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
}
